@font-face {
  font-family: "rabbid";
  src: url("rabbid_highway_sign_ii/RabbidHighwaySignII.otf");
}

@font-face {
  font-family: "cabin";
  src: url("cabin/Cabin-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "cabin";
  src: url("cabin/Cabin-Bold.ttf");
  font-weight: bold;
}

:root {
  --blue1: #e2e2e2;
  --blue2: #c0c1ff;
  --blue3: #8389f4;
  --blue4: #4659ea;
  --blue5: #3449bf;
  --blue6: #1b2e72;
  --blue7: #0a1429;
  --blue8: #04080c;
  --annot1: #7f221d;
  --annot2: #8b2643;
  --annot3: #464377;
  --annot4: #0061ac;
}

html {
  height: 100%;
}

body {
  background-color: var(--blue7);
  text-align: center;
  color: var(--blue4);
  font-family: "cabin";
  position: relative;
  font-size: 14pt;
}

h1 {
  color: var(--blue4);
  text-align: center;
  /*margin-left: 200px;*/
  font-size: 36pt;
  font-family: "rabbid";
}

div#announcements {
  color: var(--blue1);
  height: 48px;
  line-height: 58px;
  font-family: "rabbid";
  font-size: 18pt;
  margin-top: 0px;
  margin-bottom: 10px;
}

div#rules-container {
  margin-top: -10px;
  margin-bottom: -10px;
}

div#rules-toggle {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

div#rules-toggle:hover {
  cursor: pointer;
  color: var(--blue4);
}

.game-container {
  margin: 2px;
}

.guess-container {
  margin: none;
  margin-top: -18px;
}

.question-number-container {
  background-color: var(--blue6);
  color: var(--blue1);
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 58px;
  font-family: "rabbid";
  font-size: 20pt;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.letter-container {
  background-color: var(--blue8);
  color: var(--blue2);
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 58px;
  font-family: "rabbid";
  font-size: 20pt;
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.letter-container:hover {
  cursor: pointer;
}

.score-container {
  background-color: var(--blue8);
  color: var(--blue1);
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 58px;
  font-family: "rabbid";
  font-size: 20pt;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Ci-dessous, exemples de mon site pour mémoire ! */

p {
  color: var(--blue2);
  font-size: 14pt;
  font-family: "cabin";
  width: 600px;
  display: inline-block;
}

a.title:link {
  text-decoration: none;
  color: var(--blue4);
}

a.title:visited {
  text-decoration: none;
  color: var(--blue4);
}

a.title:active {
  text-decoration: none;
  color: var(--blue4);
}

a.title:hover {
  text-decoration: none;
  color: var(--blue3);
}

a.beaulien:link {
  text-decoration: none;
  color: var(--blue5);
  font-weight: bold;
}

a.beaulien:visited {
  text-decoration: none;
  color: var(--blue5);
  font-weight: bold;
}

a.beaulien:active {
  text-decoration: none;
  color: var(--blue5);
  font-weight: bold;
}

a.beaulien:hover {
  text-decoration: none;
  color: var(--blue4);
  font-weight: bold;
}

div#menu {
  float: left;
  width: 200px;
  padding: 0;
  font-family: "Garamond";
}
/*
  div#rev-container {
      height: 100%;
      position: relative;
  }*/

div#reveal {
  padding: 0;
  float: top;
  text-align: center;
  font-family: "Garamond";
  font-weight: bold;
  font-size: 12pt;
  background: #fafafa;
  color: #fafafa;
  position: absolute;
}

div#retour {
  padding: 0;
  float: center;
  text-align: center;
  font-family: "Garamond";
  font-weight: bold;
  font-size: 12pt;
  position: fixed;
  bottom: 10px;
}

div#contenu {
  margin-left: 200px;
  max-width: 1000px;
  padding: 0;
  font-family: "Garamond";
}

#navigation {
  width: 200px;
  margin: 0;
  padding: 0;
}

#navigation li {
  background: #dddddd;
  color: #232323;
  border: 1px solid #aaaaaa;
  margin-bottom: 1px;
  list-style: none;
  margin: 30px;
}

#navigation li a {
  display: block;
  font-family: "Garamond";
  text-decoration: none;
  text-align: right;
  color: #232323;
  line-height: 1em;
}

#navigation li a:visited,
#navigation li a:hover,
#navigation li a:focus,
#navigation li a:active {
  text-decoration: none;
  color: black;
  background: #bbbbbb;
}

#liens-sommaire {
  margin: 0;
  padding: 0;
}

#liens-sommaire li {
  /*background: #DDDDDD ;*/
  color: #232323;
  margin: 30px;
}

#liens-sommaire li a {
  /*display: block ;*/
  /*font-size: 14pt;*/
  font-weight: bold;
  font-family: "Garamond";
  text-decoration: none;
  text-align: left;
  color: #cc4242;
  line-height: 1em;
}

#liens-sommaire li a:visited {
  text-decoration: none;
  color: #cc4242;
}

#liens-sommaire li a:hover,
#liens-sommaire li a:focus,
#liens-sommaire li a:active {
  text-decoration: none;
  color: #ff4242;
}

.coeff-fourier {
  background-color: white;
  color: #cc4242;
  display: inline-block;
  text-align: center;
  border-color: black;
  border-width: 10px solid;
  font-family: "Garamond";
}

.parityChoice {
  background-color: white;
  color: #cc4242;
  display: inline-block;
  text-align: center;
  border-color: black;
  border-width: 10px solid;
  font-family: "Garamond";
}

.slider {
  height: 10px;
  background: #dddddd;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 10px;
  background: #cc4242;
  cursor: pointer;
}

.rangeContainer {
  float: left;
  width: 400px;
}

.graphe {
  background-color: white;
  position: relative;
  float: left;
  height: 500px;
  width: 500px;
}

.point {
  height: 2px;
  width: 2px;
  position: absolute;
  background-color: #bbb;
  border-radius: 50%;
}
